.cardimg {
    height: 275px;
}

#royce {
    height: 100%;
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

@media only screen and (max-width: 992px) {

         .cardimg {
            height: 275px;
        }

}

@media only screen and (max-width: 768px) {

         .cardimg {
            height: 275px;
        }


}
  @media only screen and (max-width: 480px) {

.cardimg {
    height: 150px;
}

  }
